name: IBMMLouvor Cron Jobs

on:
  schedule:
    - cron: '0 13 * * *'      # Birthday todo dia 10:00 Brasil
    - cron: '0 13 * * 1'      # Versículo segunda 10:00 Brasil
    - cron: '0 13 * * 6'      # Músicas sábado 10:00 Brasil
    - cron: '10 13 * * 1'     # Delete músicas segunda 10:10 Brasil
  workflow_dispatch:

jobs:
  run-crons:
    runs-on: ubuntu-latest

    steps:
      - name: Aguardar Render acordar
        run: sleep 50

      - name: Birthday
        if: github.event.schedule == '0 13 * * *'
        run: |
          for i in {1..10}
          do
            STATUS=$(curl -s -o /dev/null -w "%{http_code}" https://api.ibmmlouvor.com.br/cron/birthday)
            if [ "$STATUS" = "200" ]; then break; fi
            sleep 20
          done

      - name: Versículo
        if: github.event.schedule == '0 13 * * 1'
        run: |
          for i in {1..10}
          do
            STATUS=$(curl -s -o /dev/null -w "%{http_code}" https://api.ibmmlouvor.com.br/cron/verse)
            if [ "$STATUS" = "200" ]; then break; fi
            sleep 20
          done

      - name: Músicas
        if: github.event.schedule == '0 13 * * 6'
        run: |
          for i in {1..10}
          do
            STATUS=$(curl -s -o /dev/null -w "%{http_code}" https://api.ibmmlouvor.com.br/cron/music)
            if [ "$STATUS" = "200" ]; then break; fi
            sleep 20
          done

      - name: Delete músicas
        if: github.event.schedule == '10 13 * * 1'
        run: |
          for i in {1..10}
          do
            STATUS=$(curl -s -o /dev/null -w "%{http_code}" https://api.ibmmlouvor.com.br/cron/delete-musics-weekly)
            if [ "$STATUS" = "200" ]; then break; fi
            sleep 20
          done